<nav class="navbar navbar-dark bg-dark" style="text-align: center;">
    <button (click)="goBack()" class="btn btn-tertiary btn-lg">Go back</button>
    <ul class="nav justify-content-center">
    	<li class="nav-item">
    		<h1 style="color: #FFFFFF">{{ job }}</h1>
    	</li>
    </ul>
</nav>

<table class="table" *ngFor="let Applicant of Applicants">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">GPA</th>
			<th scope="col">Resume</th>
			<th scope="col">Applied To</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">{{ Applicant.ID }}</th>
			<td>{{ Applicant.Name }}</td>
			<td>{{ Applicant.GPA }}</td>
			<td class="col imag"><img [src]="Applicant.ResumeLink"></td>
			<td>{{ Applicant.AppliedTo }}</td>
		</tr>
	</tbody>
</table>